@mixin height($vh: 100) {
    height: #{$vh}vh;

    // http://stackoverflow.com/a/30742576/1087931
    @media (max-device-aspect-ratio: 3/4) {
        height: calc(100vw * 1.333 * 0.95 * ($vh / 100));
    }
    @media (max-device-aspect-ratio: 2/3) {
        height: calc(100vw * 1.5 * 0.95 * ($vh / 100));
    }
    @media (max-device-aspect-ratio: 10/16) {
        height: calc(100vw * 1.6 * 0.95 * ($vh / 100);
    }
    @media (max-device-aspect-ratio: 9/16) {
        height: calc(100vw * 1.778 * 0.95 * ($vh / 100));
    }
    //

    // https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
    /**
    * iPad with portrait orientation.
    */
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
        height: calc(1000px * ($vh / 100));
    }

    /**
    * iPad with landscape orientation.
    */
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
        height: calc(750px * ($vh / 100));
    }

    /**
    * iPhone 5
    * You can also target devices with aspect ratio.
    */
    @media screen and (device-aspect-ratio: 40/71) {
        height: calc(500px * ($vh / 100));
    }
    //

    /**
    * iFail 4 portrait
    */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait) {
        height: calc(422px * ($vh / 100));
    }

    /**
    * iFail 4 landscape
    */
    @media only screen and (min-device-width: 320px)  and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:landscape) {
        height: calc(281px * ($vh / 100));
    }
}

@mixin max-height($vh: 100) {
    max-height: #{$vh}vh;

    // http://stackoverflow.com/a/30742576/1087931
    @media (max-device-aspect-ratio: 3/4) {
        max-height: calc(100vw * 1.333 * 0.95 * ($vh / 100));
    }
    @media (max-device-aspect-ratio: 2/3) {
        max-height: calc(100vw * 1.5 * 0.95 * ($vh / 100));
    }
    @media (max-device-aspect-ratio: 10/16) {
        max-height: calc(100vw * 1.6 * 0.95 * ($vh / 100);
    }
    @media (max-device-aspect-ratio: 9/16) {
        max-height: calc(100vw * 1.778 * 0.95 * ($vh / 100));
    }
    //

    // https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
    /**
    * iPad with portrait orientation.
    */
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
        max-height: calc(1000px * ($vh / 100));
    }

    /**
    * iPad with landscape orientation.
    */
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
        max-height: calc(750px * ($vh / 100));
    }

    /**
    * iPhone 5
    * You can also target devices with aspect ratio.
    */
    @media screen and (device-aspect-ratio: 40/71) {
        max-height: calc(500px * ($vh / 100));
    }
    //

    /**
    * iFail 4 portrait
    */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait) {
        max-height: calc(422px * ($vh / 100));
    }

    /**
    * iFail 4 landscape
    */
    @media only screen and (min-device-width: 320px)  and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:landscape) {
        max-height: calc(281px * ($vh / 100));
    }
}
