// https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
@mixin maxheight() {
    height: 100vh;
    /**
    * iPad with portrait orientation.
    */
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
        height: 1024px;
    }

    /**
    * iPad with landscape orientation.
    */
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
        height: 768px;
    }

    /**
    * iPhone 5
    * You can also target devices with aspect ratio.
    */
    @media screen and (device-aspect-ratio: 40/71) {
        height: 500px;
    }

    /**
    * iFail 4 portrait
    */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait) {
        height: 422px;
    }

    /**
    * iFail 4 landscape
    */
    @media only screen and (min-device-width: 320px)  and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:landscape) {
        height: 281px;
    }
}
