@import "vendor/vendor";
// todo: font logo quicksand book

body {
    margin-top: 0;
    margin-bottom: 0;
}

.container-fluid {
    padding: 0;
}

img {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
