@import "./vendor/vendor";

body {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 2560px;

    /* Due to full width collage (read more @ from https://css-tricks.com/full-width-containers-limited-width-parents/)*/
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}
