@import "vendor/vendor";
// todo: font logo quicksand book

body {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1920px;
}

.container-fluid {
    //padding: 0 ($grid-gutter-width * 2);
    padding: 0 4%;
    @include media-breakpoint-down(lg) {
        padding: 0;
    }
}
