$padding: 8px;
#two-x-two-collage {
    padding-top: $padding;
    padding-right: $padding;
    .crop-wrapper {
        padding-left: $padding;
        margin-bottom: $padding / 2; // Otherwise the gap between the two rows of images gets too small
        width: 50%;
        display: inline-block;
    }
    .cropper {
        overflow: hidden;
    }
}
