@import "vendor/bootstrap";

#logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #000;
    z-index: 10;
    color: #fff;
}

#search {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    background-color: #000;
    z-index: 10;
    color: #fff;
}
