.edit-photo {
    .tags {
        > span {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
            margin-right: .2em;
            &.saved {
                background-color: #5cb85c;
            }

            &.unsaved {
                background-color: #f0ad4e;
            }
        }
    }
}
