.edit-photo {
    button {
        width: 100%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;

        &.danger {
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }
    }
    .tags {
        > span {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
            margin-right: .2em;
            &.saved {
                background-color: #5cb85c;
            }

            &.unsaved {
                background-color: #f0ad4e;
            }
        }
    }
}
