.list-photos {

    .entry {
        margin-bottom: 40px;
        display: flex;
    }

    textarea, input {
        width: 100%;
    }

    .thumb {
        flex-basis: 270px;
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    .form {
        flex-grow: 1;
    }
}
