@import '../constants/styles';
@import "../vendor/bootstrap/mixins/breakpoint";
@import "../max-height";

#menu-bar {
    @include media-breakpoint-down(lg) {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        z-index: 5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5%;
        background-color: #fff;
        text-align: center;
        font-size: 50px;

        > div {
            height: 75px;
        }

        &.portrait {
            color: lightgrey;
        }

        &.landscape {
            cursor: pointer;
            > div {
                > span {
                    display: inline-block; // tillater rotering uten å endre outline ved rotasjon
                    transition: .2s ease-in-out;
                }

                &.expanded {
                    background-color: #000;
                    outline: none; // outline ødelegger venstre side av firkanten
                    > span {
                        color: #fff;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}
