$grid-breakpoints: (
  sm: 0,
  md: 768px,
  lg: 992px,
  xl: 1360px
);

$font-size-root:             16px !default;
$font-size-base:             1rem !default;
$font-size-large:            24px;
$font-size-small:            14px;

$grid-gutter-width:          1.875rem;
