$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);

$font-size-root:             16px !default;
$font-size-base:             1rem !default;
$font-size-large:            24px;

$grid-gutter-width:          1.875rem;
