extends layout.pug

block content
  div(style='display:none;')
  each photo in photos
    article
      header
        p #{photo.title}
      p #{photo.description}

      a(href=`/photos/${photo.key}`) Click to see photo

