extends layout.pug

block content
    div(id='app')
    script(type='text/javascript').
         window.snPhotos = !{photos}

    script(type='text/javascript' src=`/static/scripts/${js}` async charset='utf-8')
