@import '../constants/styles';
@import "../vendor/bootstrap/mixins/breakpoint";

#deep-water-section {
    position: relative;
    z-index: 10;

    .spinner-wrapper {
        margin-top: 50px;
        text-align: center;
        padding: 10px 0 100px;
    }

    img.barracuda {
        width: 50%;
        max-width: 750px;
        float: left;
        margin-bottom: 150px;
        margin-top: 100px;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    img.anemone {
        width: 200px;
        float: right;
        margin-bottom: -22px;
        margin-right: 35px;
        clear: both;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .jellyfish-wrapper {
        text-align: center;
    }

    img.jellyfish {
        width: 200px;
        margin-bottom: 100px;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}
