#photo-section {
    #search-wrapper {
        z-index: 10;
        right: 0;
        left: 0;
        position: absolute;

        &.fixed {
            position: fixed;
        }
    }
    img {
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
        max-width: 100%;
    }
}
