@import '../constants/styles';
@import "../vendor/bootstrap/mixins/breakpoint";
@import "../max-height";

#mid-water {
    background-color: #dea392;
    position: relative;
    cursor: pointer;

    .wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
        @include height();
    }

    .jellyfishes {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .jellyfish-1 {
        position: absolute;
        top: 7%;
        width: 7%;
        left: 5%;
    }

    .jellyfish-2 {
        position: absolute;
        top: 35%;
        width: 5%;
        left: 15%;
    }

    .jellyfish-3 {
        position: absolute;
        top: 60%;
        width: 4%;
        left: 9%;
    }

    .link {
        text-transform: uppercase;
        padding: 5%;
        text-align: center;
        flex-basis: 65%;

        p {
            color: #fff;
            font-size: 25px;
            margin-bottom: 0;
        }

        a {
            font-size: 50px;
            color: #fff;
            text-decoration: none;
        }
    }
}
