@import '../constants/styles';
@import "../vendor/bootstrap/mixins/breakpoint";

.photo-wrapper {
    margin-bottom: 200px;

    @include media-breakpoint-up(xl) {
        display: flex;
    }

    .photo {
        @include media-breakpoint-up(xl) {
            max-width: 80%;
            float: left;
        }
    }

    .text {
        text-align: center;

        .text-wrapper {
            text-align: left;
        }

        .title {
            font-weight: 700;
            font-size: $font-size-large;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .latin {
            font-size: $font-size-small;
            margin-bottom: 50px;
        }

        .description, .latin {
            font-weight: 400;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 100px;
            width: 20%;
            min-width: 420px;
            flex-grow: 1;
            padding: $grid-gutter-width / 2;
            float: left;
            .text-wrapper {
                max-width: 320px;
                display: inline-block; // for å unngå at HR tar 100%
            }

            &.portrait {
                align-self: center;
                // Approx way of aligning center of description to the center of the image
                margin-top: -100px;
            }
        }
    }
}
