@import '../constants/styles';
@import "../vendor/bootstrap/mixins/breakpoint";
@import "../max-height";

/*
.photo-and-text-wrapper {border: 1px solid black;}
.photo-wrapper {border: 1px solid red;}
.photo {border: 1px solid yellow;}
.text {border: 1px solid blue;}
*/

.photo-and-text-wrapper {
    @include media-breakpoint-up(xl) {
        @include height();
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        margin-left: 8%;
        margin-right: 8%;
        .photo-wrapper {
            flex: 1 0 100%;
        }
    }
    @include media-breakpoint-down(lg) {
        margin-bottom: 150px;
    }
}

.photo-wrapper {
    &.loading {
        margin: 0;
        height: 0;
        .text-wrapper {
            height: 0;
            margin: 0;
        }
    }

    .photo {
        @include media-breakpoint-up(xl) {
            img {
                @include max-height(85);
            }
        }
    }

    &.portrait {
        @include media-breakpoint-down(lg) {
            .photo {
                text-align: center;
            }
        }
        @include media-breakpoint-up(xl) {
            display: flex;
            .photo {
                flex-shrink: 1;
            }
            .text {
                align-self: center;
                text-align: center;
                flex: 1 0 50%;

                .text-wrapper {
                    text-align: left;
                }
            }
        }

    }

    &.landscape {
        @include media-breakpoint-up(xl) {
            display: flex;
        }

        .photo {
            @include media-breakpoint-down(lg) {
                @media (orientation: landscape) {
                    text-align: center;
                }
            }
            @include media-breakpoint-up(xl) {
                flex-shrink: 1;
                flex-basis: 70%;
            }
        }

        .text {
            @include media-breakpoint-up(xl) {
                flex: 1 0 30%;
            }
        }

        .text-wrapper {
            @include media-breakpoint-up(xl) {
                margin-top: 90px;
                padding-left: 20%;
            }
        }
    }


    .text {
        .text-wrapper {
            max-width: 70ch;
            padding-left: 8%;

            @include media-breakpoint-down(lg) {
                padding-left: 8%;
                padding-right: 8%;
            }

            @include media-breakpoint-up(xl) {
                padding-left: 16%;
                margin-top: 50px;
            }

            @include media-breakpoint-down(lg) {
                margin-top: 50px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 25px;
            }
        }

        .title {
            font-weight: 700;
            line-height: 1.2;
            font-size: $font-size-large;
            @include media-breakpoint-down(lg) {
                font-size: 20px;
            }
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0px; /* Otherwise latin name comes too close */
        }

        .latin {
            font-size: $font-size-small;
            margin-bottom: 30px;
        }

        .description, .latin {
            font-weight: 400;
        }

    }
}
