@import '../constants/styles';
@import "../vendor/bootstrap/mixins/breakpoint";
@import "../max-height";

/*
.photo-and-text-wrapper {border: 1px solid black;}
.photo-wrapper {border: 1px solid red;}
.photo {border: 1px solid yellow;}
.text {border: 1px solid blue;}
*/

.photo-and-text-wrapper {
    @include media-breakpoint-up(xl) {
        @include height(95);
        margin-bottom: 10px; // For å unngå en glipe mellom bildet og title-bar
        position: relative;

        img {
            @include max-height(95); // title bar er 5%
        }
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 150px;
    }

    &.loading {
        height: 0;
        margin: 0;
        * {
            height: 0;
            margin: 0;
        }
    }
}

.photo-wrapper {
    @include media-breakpoint-up(xl) {
        width: 95%; // meny er 5%
        position: relative;
    }
    img {
        max-width: 100%;
    }

    &.portrait {
        @include media-breakpoint-down(lg) {
            img {
                max-width: 100%;
            }
            .photo {
                text-align: center;
            }
        }
        @include media-breakpoint-up(xl) {
            background-color: lightgrey;
            display: flex;
            .photo {
                flex-shrink: 1;
            }
            .text {
                align-self: center;
                flex-grow: 1;
            }

            .text-wrapper {
                margin: 0 auto;
            }
        }
    }

    &.landscape {
        .photo {
            display: flex; // Workaround for bug der div.photo tar større høyde enn img på innsiden
        }
        .text {
            @include media-breakpoint-up(xl) {
                background-color: #000;
                color: #fff;
                position: absolute;
                top: 0;
                width: 400px;
                right: -400px;
                transition: all .1s ease-in-out;
                bottom: 0;
                padding-top: 100px;
                &.expanded {
                    transform: translate3d(0, 0, 0);
                    right: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    .text {
        .text-wrapper {
            max-width: 70ch;

            @include media-breakpoint-up(xl) {
                text-align: center;
                padding-left: 5%;
                padding-right: 5%;
            }

            @include media-breakpoint-down(lg) {
                padding-left: 8%;
                padding-right: 8%;
                margin-top: 50px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 25px;
            }
        }

        .title {
            font-weight: 700;
            line-height: 1.2;
            font-size: $font-size-large;
            @include media-breakpoint-down(lg) {
                font-size: 20px;
            }
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0px; /* Otherwise latin name comes too close */
        }

        .latin {
            font-size: $font-size-small;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        .description, .latin, .location {
            font-weight: 400;
        }

        .location {
            margin-top: 40px;
            text-transform: uppercase;
        }
    }
}
