@import '../constants/styles';

.photo {
    margin-bottom: 200px;
    // bootstrap override
    // todo: kun på desktop:
    padding-left: 0;
    padding-right: 0;
    //
    .title {
        font-family: 'Bentham', serif;
        margin-bottom: 0;
        margin-top: 20px;
        font-size: $font-size-large;
    }

    .description {
        margin-top: 5px;
    }

    hr {
        width: 60px;
        height: 1px;
    }
}

.text {
    text-align: center;
    // todo: kun på desktop:
    margin-top: 100px;
    //
}
