@import 'base.css';
@import 'chartist.css';

.ct-line {
  fill: none;
  stroke-width: 2px;
}

.ct-series-b .ct-point,
.ct-series-b .ct-line,
.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut {
  stroke: #59922b;
}

.list-photos-wrapper button {
  padding: 6px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.list-photos-wrapper button.submit-order {
  position: fixed;
  bottom: 50px;
  left: 50%;
  color: var(--color-white);
  background-color: #5cb85c;
  border-color: #429942;
}

.list-photos {
  display: flex;
  flex-wrap: wrap;
}

.list-photo {
  padding: 20px;
  flex: 1 1 175px;
}

.list-photo .center {
  text-align: center;
}

.list-photo .thumb img {
  max-width: 100%;
}

.list-photo button.danger {
  margin-bottom: 0;
  margin-left: 10px;
  color: var(--color-white);
  background-color: #d9534f;
  border-color: #d43f3a;
}

.list-photo .tags > span {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  color: var(--color-white);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  margin-right: 0.2em;
  background-color: #5cb85c;
}
