@import './chartist.css';

.ct-line {
  fill: none;
  stroke-width: 2px;
}

.ct-series-b .ct-point,
.ct-series-b .ct-line,
.ct-series-b .ct-bar,
.ct-series-b .ct-slice-donut {
  stroke: #59922b;
}

.list-photos button {
  margin-left: 10px;
  padding: 6px;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.list-photos button.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.list-photos.tags > span {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  margin-right: 0.2em;
  background-color: #5cb85c;
}

.list-photos {
  display: flex;
  flex-wrap: wrap;
}

.list-photos > div {
  padding: 20px;
  flex: 1 1 175px;
}

.list-photos .center {
  text-align: center;
}

.list-photos .thumb img {
  max-width: 100%;
}
