@import 'top-logo.css';
@import 'arrow.css';
@import 'collage.css';
@import 'photo.css';
@import 'navigation.css';
@import 'sidebar.css';
@import 'link-wrapper.css';
@import 'deep-water.css';

:root {
  --margin: 8px;
  --font-size-xlarge: 25px;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --color-dark: #373a3c;
  --color-white: #fff;
  --color-pink: #ff447c;
}

body {
  color: var(--color-dark);
  background-color: var(--color-white);
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: var(--font-size-medium);
  scroll-behavior: smooth;
  margin: 0;
}

#container {
  margin: 0 auto;
  max-width: 2560px;
}

@media (min-width: 1100px) {
  .sn-dn-ns {
    display: none;
  }
}

@media (max-width: 1400px) {
  .sn-dn-l {
    display: none;
  }
}

.sn-mb-l {
  margin-bottom: 140px;
}

.transition-image {
  transition: opacity 0.5s ease-in-out;
}

p::selection {
  color: var(--color-white);
  background-color: var(--color-pink);
}

a {
  color: var(--color-dark);
}
