@import 'collage.css';
@import 'photo-text-wrapper.css';
@import 'sidebar.css';

:root {
  --margin: 8px;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --color-dark: #373a3c;
}

body {
  color: var(--color-dark);
  background-color: #fff;
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: var(--font-size-medium);
  max-width: 2560px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .sn-dn-ns {
    display: none;
  }
}

@media (max-width: 1400px) {
  .sn-dn-l {
    display: none;
  }
}

.transition-image {
  transition: opacity .5s ease-in-out;
}
