@media (min-width: 1100px) {
  .navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 10;
  }
}

.navigation {
  text-align: center;
}

.link-wrapper {
  width: 100%;
  clear: both;
  text-align: center;
  height: 110px;
}

.link-wrapper a {
  letter-spacing: 4px;
  border: 2px solid var(--color-dark);
  padding: 15px 40px;
  background-color: var(--color-dark);
  color: var(--color-white);
  margin-top: -30px;
  display: inline-block;

  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  text-decoration: none;
}

.link-wrapper a:hover {
  background-color: var(--color-pink);
  color: var(--color-dark);
}

@media (max-width: 1100px) {
  .link-wrapper a {
    font-size: var(--font-size-small);
    padding: 10px;
    margin: 5px;
    width: 23%;
  }
}
