#collage {
  margin-top: 8px;
}

@media (min-width: 1100px) {
  /* group */
  #collage > div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-bottom: var(--margin);
    margin-left: var(--margin);
  }

  /* single photo */
  #collage > div > div {
    display: inline-block;
    flex: 1 1 auto;
    margin-right: var(--margin);
    position: relative;
  }

  #collage > div > div a:hover:after {
    position: absolute;
    content: '';
    background: var(--color-pink);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0.8;
  }
}

#collage img {
  max-width: 100%;
  width: 100%;
}

#collage .photo-text-wrapper {
  margin-bottom: 100px;
}
