#deep-water {
  margin-top: 100px;
}

#license {
  text-align: center;
  margin: 0 auto;
  font-size: var(--font-size-small);
  max-width: 100ch;
  margin-bottom: 80px;
}

#social {
  text-align: center;
}

#social {
  margin-bottom: 50px;
}

#social img {
  height: 30px;
  margin: 0 10px;
}
