@media (min-width: 1100px) {
  /* landscape */

  .landscape .photo-and-text > .photo-text-wrapper {
    display: none;
  }

  /* portrait */

  .portrait .photo-and-text {
    padding-left: 80px;
    padding-right: 80px;
  }

  /* all */
  .photo-and-text {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
  }

  .photo-wrapper {
    position: relative;
  }

  .photo-wrapper img {
    max-width: 100%;
    max-height: calc(100vh - 60px);
  }

  .photo-wrapper .click-previous,
  .photo-wrapper .click-next {
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    outline: 0;
  }

  .photo-wrapper .click-previous {
    left: 0;
    right: 50%;
    cursor: url('/static/images/cursor-previous.png?v2'), auto;
  }

  .photo-wrapper .click-next {
    right: 0;
    left: 50%;
    cursor: url('/static/images/cursor-next.png?v2'), auto;
  }
}

@media (max-width: 1100px) {
  .photo-wrapper .click-previous,
  .photo-wrapper .click-next {
    display: none;
  }
}

.photo-text-wrapper {
  margin: 50px 8%;
  max-width: 50ch;
}

.photo-text-wrapper p {
  line-height: 1.5;
}

.photo-text-wrapper .title {
  text-transform: uppercase;
  font-size: var(--font-size-large);
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.photo-text-wrapper .latin {
  margin-top: 5px;
}

.photo-text-wrapper .description {
  margin-top: 45px;
  margin-bottom: 45px;
}

.photo-text-wrapper .latin,
.photo-text-wrapper .location {
  font-size: var(--font-size-small);
  letter-spacing: 1.5px;
}

@media (max-width: 1100px) {
  .photo-wrapper {
    width: 100%;
  }

  .photo-wrapper img {
    width: 100%;
    max-width: 100%;
  }
}
