@media (min-width: 1100px) {
  /* landscape */

  .landscape .photo-and-sidebar > .photo-text-wrapper {
    display: none;
  }

  /* portrait */

  .portrait #sidebar-wrapper {
    display: none;
  }

  .portrait .photo-and-sidebar {
    padding-left: 80px;
    padding-right: 80px;
  }

  /* all */
  .photo-and-sidebar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
  }

  .photo-wrapper {
    position: relative;
  }

  .photo-and-navigation .transition-image {
    transition-duration: 0.1s;
  }

  .photo-and-navigation img {
    max-width: 100%;
    max-height: calc(100vh - 60px);
  }

  .photo-and-navigation .click-previous,
  .photo-and-navigation .click-next {
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
  }

  .photo-and-navigation .click-previous {
    left: 0;
    right: 50%;
    cursor: url('/static/images/cursor-previous.png'), auto;
  }

  .photo-and-navigation .click-next {
    right: 0;
    left: 50%;
    cursor: url('/static/images/cursor-next.png'), auto;
  }
}

.photo-text-wrapper {
  margin: 50px 8%;
  max-width: 60ch;
}

.photo-text-wrapper .title {
  text-transform: uppercase;
  font-size: var(--font-size-large);
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 1.2;
  margin-bottom: 0;
}

.photo-text-wrapper .latin {
  margin-top: 5px;
}

.photo-text-wrapper .description {
  margin-top: 45px;
  margin-bottom: 45px;
}

.photo-text-wrapper .latin,
.photo-text-wrapper .location {
  font-size: var(--font-size-small);
  letter-spacing: 1.5px;
}

@media (max-width: 1100px) {
  #sidebar,
  #sidebar-text {
    display: none;
  }
}

@media (min-width: 1100px) {
  #sidebar {
    z-index: 6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    text-align: center;
    font-size: 60px;
  }

  #sidebar > div {
    height: 75px;
  }

  #sidebar > div > a {
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: 0.1s ease-in-out;
    outline: none;
  }

  #sidebar > div > a:hover {
    color: var(--color-pink);
  }

  #sidebar > div.expanded > a {
    transform: rotate(45deg);
  }

  #sidebar-text {
    z-index: 5;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 400px;
    right: -400px;
    transition: all 0.1s ease-in-out;
    padding-top: 100px;
    text-align: center;
    line-height: 24px;
  }

  #sidebar-text .photo-text-wrapper {
    margin-bottom: 70px;
  }

  #sidebar-text.expanded {
    transform: translate3d(0, 0, 0);
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}
