#sidebar {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5%;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
}

#sidebar > div {
  height: 75px;
}

#sidebar > div > a {
  font-weight: 600;
  color: var(--color-dark);
  text-decoration: none;
  display: inline-block; /* tillater rotering uten å endre outline ved rotasjon */
  transition: .2s ease-in-out;
}

#sidebar > div.expanded > a {
  outline: none; /* outline ødelegger venstre side av firkanten */
}

#sidebar > div.expanded > a {
  color: #fff;
  transform: rotate(45deg);
}

#sidebar-text {
  opacity: 0.8;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 0;
  width: 400px;
  right: -400px;
  transition: all .1s ease-in-out;
  bottom: 0;
  padding-top: 100px;
  text-align: center;
  line-height: 24px;
}

#sidebar-text.expanded {
  transform: translate3d(0, 0, 0);
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
}
