@import '../../constants/styles';
@import "../../vendor/bootstrap/mixins/breakpoint";
@import "../../max-height";

#small-collage {
    @include maxheight();
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    /* full width hack from https://css-tricks.com/full-width-containers-limited-width-parents */
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    // end

    p {
        text-align: center;
        flex-shrink: 0;
        flex-basis: 100%;
    }

    object {
        flex-shrink: 0;
        flex-basis: 60%;
        width: 60%;
        max-height: 65%; // Avoid massive logo on landscape tablets

        @include media-breakpoint-up(md) {
            flex-basis: 30%;
            max-height: 35%;
        }
    }
}
