 #small-collage {
    background-color: #000;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    p {
        text-align: center;
        -webkit-flex-shrink: 0;
        -webkit-flex-basis: 100%;
        flex-shrink: 0;
        flex-basis: 100%;
    }

    img {
        -webkit-flex-shrink: 0;
        -webkit-flex-basis: 60%;
        flex-shrink: 0;
        flex-basis: 60%;
        width: 60%;
        max-height: 65%; // Avoid massive logo on landscape tablets
    }
}
