:root {
  --margin: 8px;
  --font-size-xlarge: 25px;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --color-dark: #373a3c;
  --color-white: #fff;
  --color-pink: #ff447c;
}

body {
  color: var(--color-dark);
  background-color: var(--color-white);
  overflow-x: hidden;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: var(--font-size-medium);
  scroll-behavior: smooth;
  margin: 0;
}
