#collage {
  margin-top: 8px;
}

#collage .overlay-title-wrapper {
  display: none;
}

#collage img {
  max-width: 100%;
  width: 100%;
}

#collage .photo-text-wrapper {
  margin-bottom: 100px;
}

#collage #mid-water {
  margin: 100px auto;
  text-align: center;
}

#collage #mid-water p {
  margin: 0 8%; /* same as .photo-text-wrapper */
}

@media (min-width: 1100px) {
  /* group */
  #collage .photo-group {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-bottom: var(--margin);
    margin-left: var(--margin);
  }

  /* single photo */
  #collage .photo {
    display: inline-block;
    flex: 1 1 auto;
    margin-right: var(--margin);
    position: relative;
  }

  #collage .overlay-title-wrapper {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #collage a p {
    margin: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    padding: 10px;
    background-color: var(--color-pink);
  }

  #collage a:hover p {
    opacity: 1;
  }

  #collage .overlay-title-wrapper p.title {
    margin-top: 4px;
    font-size: var(--font-size-large);
    letter-spacing: 4px;
  }

  @media (min-width: 1300px) {
    #collage .overlay-title-wrapper p.title {
      font-size: var(--font-size-xlarge);
    }
  }
}
