$padding: 5px;
#large-collage {
    text-align: center; // todo nødvendig?
    padding-top: $padding;
    padding-right: $padding;
    .collage-row {
        .cropper {
            padding-right: 5px;
            padding-left: 5px;
            max-width: 50%;
            display: inline-block;
            overflow: hidden;
        }
    }
}
