@import '../constants/styles';
@import "../vendor/bootstrap/mixins/breakpoint";

#search {
    width: 100%;
    position: absolute;
    right: 0;

    .icon {
        color: #fff;
        width: 50px;
        height: 50px;
        background-color: #000;
        z-index: 20;
        position: absolute;
        right: 0;
    }

    .expandable {
        background-color: #fff;
        height: 50px;
        position: absolute;
        overflow: hidden;

        &.opened {
            right: 50px;
        }

        &.closed {
            width: 0;
            right: 10px;

            input {
                width: 0;
            }
        }
    }

    input {
        height: 50px;
        background: transparent;
        outline: 0;
        border: 0;
        flex-grow: 1;
    }

    // liten skjerm
    @include media-breakpoint-down(md) {
        background-color: #000;

        .expandable {
            width: 100%;
            -webkit-transition: left .5s, right .5s, width .5s;
            transition: left .5s, right .5s, width .5s;
            &.opened {
                left: 0;
            }
        }

        input {
            width: 50%;
        }
    }

    // stor skjerm
    @include media-breakpoint-up(md) {
        width: 300px;

        .icon {
            color: #fff;
            width: 50px;
            height: 50px;
            background-color: #000;
            z-index: 20;
            position: absolute;
            right: 0;
        }

        .expandable {
            -webkit-transition: right .5s, width .5s;
            transition: right .5s, width .5s;
            display: -webkit-flex;
            display: flex;
            &.opened {
                width: 300px;
            }
        }

        input {
            width: 50%;
        }
    }

    .tag {
        background-color: #ccc;
        color: #eee;
        border-radius: 4px;
        padding: 4px;
        border: 1px solid #eee;
    }

    .search-result-wrapper {
        margin-top: 60px;
        position: relative;

        ul.search-result {
            background-color: #cde69c;
            position: absolute;
            left: 0;
            right: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                height: 50px;
                cursor: pointer;
                &:hover {
                    background-color: yellow;
                }

                &.selected {
                    background-color: green;
                }
            }
        }
    }
}
