#search {
    width: 300px;
    position: absolute;
    right: 0;

    .tag {
        background-color: #ccc;
        color: #eee;
        border-radius: 4px;
        padding: 4px;
        border: 1px solid #eee;
    }

    .expandable {
        border: 1px solid black;
        background-color: #cde69c;
        transition: right .5s, width .5s;
        position: absolute;
        overflow: hidden;
        height: 50px;
        display: flex;

        &.opened {
            right: 50px;
            width: 350px;
        }

        &.closed {
            width: 0;
            right: 10px;

            input {
                width: 0;
            }
        }
    }

    input {
        height: 50px;
        background: transparent;
        outline: 0;
        border: 0;
        flex-grow: 1;
    }

    .icon {
        width: 50px;
        height: 50px;
        background-color: #000;
        z-index: 20;
        position: absolute;
        right: 0;
        color: #fff;
    }

    .search-result-wrapper {
        margin-top: 60px;
        position: relative;

        ul.search-result {
            background-color: #cde69c;
            position: absolute;
            left: 0;
            right: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                height: 50px;
                cursor: pointer;
                &:hover {
                    background-color: yellow;
                }

                &.selected {
                    background-color: green;
                }
            }
        }
    }
}
